:root {
  --gutter: var(--space-m-l);
  --stroke-width: 1px;
  --stroke: var(--stroke-width) dashed var(--color-decorative-stroke);
  --stroke-solid: var(--stroke-width) solid var(--color-decorative-stroke);
  --radius-s: 0.2rem;
  --radius-m: 0.75rem;
  --radius-l: 2.5rem;
  --uppercase-kerning: 0.04ch;
  --indent-size: var(--space-xs-l);

  --wrapper-max-width: 80rem;

  color-scheme: light dark;
  --black: var(--color-stone-400);
  --bright_white: oklch(94.75% 0.04 73);
  --background-light: var(--color-amber-50);
}
