.closer {
  position: relative;
  max-width: 100%;
  aspect-ratio: 200 / 77;
  background-image: url("/src/assets/mountain-texture.svg");
  background-size: 100% 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  color: var(--color-foreground-inverse);
  font-weight: var(--font-weight-bold);
  padding-top: clamp(2rem, 50vb, 8rem);
  padding-bottom: 2rem;
}

.closer::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  block-size: 55%;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--color-fill-loud) 85%
  );
  pointer-events: none;
}
