#puddle-container {
  position: absolute;
  inset: 0;
  color: light-dark(var(--black), var(--background-light));
  user-select: none;
  contain: layout paint style;
  content-visibility: auto;

  canvas {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    inset-block-start: 0;
    background: linear-gradient(
      transparent,
      light-dark(var(--background-light), var(--black))
    );
    pointer-events: none;
  }
}
