.site-foot {
  background: var(--color-amber-950);
  color: var(--color-amber-200);
  line-height: var(--leading-none);
  padding-block: var(--space-lg);
}

.site-foot a {
  color: var(--color-amber-50);
}

.site-foot a:hover {
  color: var(--color-amber-300);
}

.site-foot__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
}

.site-foot .nav .cluster {
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: var(--uppercase-kerning);
  font-size: var(--size-step-0);
}

.site-foot hr {
  --flow-space: var(--space-sm);
  --hr-stroke: var(--stroke-width) solid var(--color-amber-200);
  opacity: 0.3;
}

.site-foot .repel {
  --flow-space: var(--space-sm);
}

.site-foot .repel * {
  margin: 0;
}

.site-foot__brand {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2xs);
}

.site-foot__brand-icon {
  display: inline-flex;
  block-size: 5em;
  inline-size: auto;
}

.site-foot__brand-icon svg {
  block-size: 100%;
  inline-size: auto;
}

.site-foot__brand-icon svg path {
  fill: var(--color-amber-200);
}

.site-foot__personal-links a {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2xs);
}

.site-foot__link-icon {
  display: inline-flex;
  block-size: 1em;
  inline-size: 1em;
}

.site-foot__link-icon svg {
  block-size: 100%;
  inline-size: 100%;
}
