.site-head {
  text-transform: uppercase;
  letter-spacing: var(--uppercase-kerning);
  line-height: var(--leading-none);
  font-size: var(--size-step-0);
  font-weight: var(--font-weight-bold);
  padding-block-start: var(--space-md);
  --z-index: 1000;
}

.site-head .repel {
  --gutter: var(--space-md);
}

.site-head__brand {
  container-type: inline-size;
  container-name: site-head-brand;
  flex-basis: clamp(25ch, 60%, 50rem);
  flex-grow: 1;
  z-index: var(--z-index);
}

.site-head nav {
  z-index: var(--z-index);
}

.site-head__brand a:not(:hover) {
  text-decoration: none;
}

.site-head__brand-link {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2xs);
}

.site-head__brand-icon {
  display: inline-flex;
  block-size: 1.4em;
  inline-size: auto;
}

.site-head__brand-icon svg {
  block-size: 100%;
  inline-size: auto;
}

.site-head hr {
  --flow-space: var(--space-md);
  --hr-stroke: var(--stroke-width) solid var(--color-brand-primary);
}

@container site-head-brand (68vi <= width <= 50rem) {
  .site-head__brand a {
    color: var(--color-foreground-inverse);
  }
}
